config:
  heartbeart_threshold: 10
  delay_threshold_secs: 360
  row_difference_threshold: 10

# You can also set username/passwords here,
# so you don't have to repeat them.
#
# users:
#  ro_user: 
#    username: ro_user
#    password: secret
#  heartbeat_user: 
#    username: heartbeat_user
#    password: secret
#  replication_user: 
#    username: repl_user
#    password: secret


database_01:
  master:
    password: test_pass
    username: read_only_user
    adapter:  mysql
    database: db01
    host:     db1.somehost.com
    port:     3306
    socket:   /tmp/mysql.sock

  slave:
    password: test_pass
    username: read_only_user
    adapter:  mysql
    database: db01
    host:     localhost
    port:     3307
    socket:   /var/lib/mysql/db01.sock

